/* For the Components of Machine Learning Functions */

.sideBar {
  position: fixed;
  top: 4rem;
  right: 0;
  bottom: 0;
  padding: 10px;
  border-right: 1px solid #111;
  background: #e1e1e1;
}

.sideBarItem {
  border: 1px solid #000;
  border-radius: 3px;
  padding: 10px;
  margin-top: 10px;
  background: #ccc;
}

.page {
  padding: 0 20px;
}

.dropZone {
  flex: 0 0 auto;
  height: 40px;
  transition: 200ms all;
}

.dropZone:nth-of-type(2n) {
  display: none;
}

.dropZone.horizontalDrag {
  width: 40px;
  height: auto;
}

.dropZone:not(.horizontalDrag).isLast {
  flex: 1 1 auto;
}

.dropZone.active,
.trashDropZone.active {
  background: #00a2ff;
  transition: 100ms all;
}

.trashDropZone.active {
  background: #e44d66;
  transition: 100ms all;
}


.component {
  height: 60px;
  padding: 10px;
  background: #aaa;
}

.column {
  border: 1px solid blue;
  flex: auto;
  padding: 10px;
}

.columns {
  display: flex;
  padding: 20px 0;
}

.columnContainer {
  display: flex;
}

.base {
  padding: 0.5rem 1rem;
  background-color: white;
}

.row {
  border: 1px solid red;
  padding: 0;
}

.trashDropZone {
  flex: 0 0 auto;
  width: 40px;
  height: auto;
  transition: 200ms all;
}

/* .pageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 100px;
  position: relative;
} */

/* ML Components Container Area */
.react-transform-wrapper {
  width: 100% !important;
}

.react-transform-component {
  width: 100% !important;
}

/* 브라우저 전체 화면의 스크롤바 숨기기 */
body::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

/* 우측 사이드바 전용 스크롤바 모양 커스터마이징 */
.sideBar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.sideBar::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.sideBar::-webkit-scrollbar-thumb
{
	background-color: #000000;
}